SECRET_KEY=replace-with-a-long-random-value
ORIGIN_SECRET=replace-with-the-cloudflare-origin-lock-value
ENABLE_ORIGIN_LOCK=1
TRUST_PROXY=1
PROXY_HOPS=1
YOUTUBE_POT_PROVIDER_URL=http://127.0.0.1:4416
FFMPEG_THREADS=1
MAX_CONCURRENT_DOWNLOADS=1
MAX_CONCURRENT_CONVERSIONS=1
MAX_CONCURRENT_INFO=2
MAX_CONCURRENT_THUMBNAILS=1
MAX_CONCURRENT_TRANSFERS=1
MAX_SPOOL_SIZE_MB=640
MIN_FREE_DISK_MB=192
DOWNLOAD_SPOOL_RESERVATION_MB=512
MAX_DOWNLOAD_SIZE_MB=256
MAX_CONVERT_OUTPUT_SIZE_MB=192
PREPARED_FILE_TTL=300
